@import '../../variables';

.header {
    height: 75px;
    box-sizing: border-box;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent-color;
    -webkit-app-region: drag;
}

.avatar-image {
    height: 45px;
    width: 45px;
    margin-right: 8px;
    border-radius: 50%;
}