@import '../../variables';

.header {
    height: 75px;
    box-sizing: border-box;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent-color;
    -webkit-app-region: drag;
}

.avatar-image {
    height: 45px;
    width: 45px;
    margin-right: 8px;
    border-radius: 50%;
}

.menu-icon {
    margin-left: 5px;
}

.dropdown {
    height: 200px;
    width: 175px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    background-color: $main-color;
    position: fixed;
    top: 90px;
    color: black;
    cursor: default;
}