@import './variables';

.App {
    text-align: center;
}

input {
    height: 30px;
    width: 248px;
    margin-bottom: 8px;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 18px;
    background-color: $main-color;
}

button {
    height: 30px;
    width: 250px;
    font-size: 16px;
    background-color: white;
    border-radius: 5px;
}

button:hover {
    background-color: $hover-color;
    color: white;
}

button:active {
    background-color: white;
    color: black;
}