@import '../../variables';

.groups {
    height: 100vh;
    width: 250px;
    position: fixed;
    left: 0px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    background-color: $accent-color;
}