.groups {
    height: calc(100vh - 75px);
    width: 400px;
    border-right: 1px solid gray;
    position: fixed;
    top: 75px;
    left: 0px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
}