@import '../../variables';

.message {
    height: 100vh;
    width: calc(100% - 200px);
    box-sizing: border-box;
    position: fixed;
    right: 0px;
    background-color: $main-color;
    color: black;
}

.message-input {
    width: 90%;
    margin: 0px;
    outline: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid black;
    background-color: white;
}

.send-message-button {
    height: 34px;
    width: 10%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 0px;
    border: 1px solid black;
}